<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%- include('partials/header.bootstrapcss.ejs') %>
    </head>
  <body>
    <%- include('partials/navbar')  %>
    <h1>This is Add User </h1>
   <div class="container w-50">
    <form  action="/adduser" method="post" enctype="multipart/form-data">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
            
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Photo</label>
            <input type="file" class="form-control" id="exampleInputPassword1" name="profileimage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div> 
   <%- include('partials/bootstrapjs.ejs') %> 
  </body>
</html>