<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%- include('partials/header.bootstrapcss.ejs') %>
    </head>
  <body>
    <%- include('partials/navbar')  %>
    <h1>This is Home Page </h1>
    

   <%- include('partials/bootstrapjs.ejs') %> 
  </body>
</html>