<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%- include('partials/header.bootstrapcss.ejs') %>
    </head>
  <body>
    <%- include('partials/navbar')  %>
    <h1>This is Login Page </h1>
   <div class="container w-50">
    <form>
           
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
</div> 
   <%- include('partials/bootstrapjs.ejs') %> 
  </body>
</html>